

* {
    margin: 0%;
    padding: 0%;
}

header  { 
    background-color: #FFDBFA;
    padding: 5px;
    height: 70px;
    margin: 25px 0px;  

}

nav a { 
    font-style: normal ; 
    text-decoration: none; 
    font-size: 23px;
    color: black;
    display: inline-flex;
    margin-top: 15px; 
    margin-left: 25px;  
    border: 2px dotted black;
}

nav {
    width: 95%;
    display: flex;
    justify-content: right;
}

nav > a:hover{
    color: #FF9AFA;
}

nav > a {
    padding-left: 40px;
    padding-right: 40px;
    display: inline-flex;
}

body {
    font-family: "DotGothic16", sans-serif;
    background-color: #DEDEDE;
    flex-direction: row;
}

h1 {
    margin-left: 25px;
}

p {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    padding: 10px;
}

.image {
    margin-left: 100px;
    padding-left: 100px;
}

img {
    justify-content: space-evenly;
}

.spotify {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

